*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-style: solid;
    border-color: blue;
    background-color: aqua;
    
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: large;
}
th {
    background-color: aqua;
}
#myForm{
   text-align: center;
    font-size: larger;
    font-weight: 200;
}
img{
    display: block;
    margin: auto;
    height: 50em;
    width: 100em;
}
button {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    border-color: blue;
    background-color: aquamarine;
 }
 fieldset{
    background-color: aqua;
    border-radius: 25px;
 }
 h3{
    color: red;
 }
h2{
    color: red;
}
input{
    width: 40%;
    height: 30px;
}
a{
    font-size: larger;
}

    
    




 
