table {
    border-collapse: collapse;
    width: 100%;
    border-style: solid;
    border-color: blue;
    background-color: aqua;
    
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: large;
}
th {
    background-color: aqua;
}
#myForm{
    text-align: center;
    font-size: larger;
    font-weight: 200;
}
img{
    display: block;
    margin: auto;
}
button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border-color: blue;
    background-image: linear-gradient( blue, aqua);
 }
 fieldset{
    background-color: aqua;
 }
 h3{
    color: red;
 }
h2{
    color: red;
}


 
